<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>23123123</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <org.korosoft.jenkins.plugin.rtp.RichTextPublisher plugin="rich-text-publisher-plugin@1.3">
      <stableText>&lt;script&gt;
function runScript() {
if(&apos;${branch_name}&apos;==&apos;trunk&apos;)
var textnode=document.createTextNode(&quot;trunk发布&quot;);
else
var textnode=document.createTextNode(&quot;branch_name=${branch_name} \n btag=b_${ENV:BUILD_ID}_${BUILD_USER}&quot;);

var newItem=document.createElement(&quot;SPAN&quot;);
newItem.appendChild(textnode);
var list=document.getElementsByClassName(&quot;col-xs-24 pane-footer&quot;)[0];
list.insertBefore(newItem,list.childNodes[0]);
} runScript();
&lt;/script&gt;</stableText>
      <unstableText></unstableText>
      <failedText></failedText>
      <unstableAsStable>true</unstableAsStable>
      <failedAsStable>true</failedAsStable>
      <parserName>HTML</parserName>
    </org.korosoft.jenkins.plugin.rtp.RichTextPublisher>
  </publishers>
  <buildWrappers/>
</project>