<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>自助机前端 html 静态文件&#xd;
&lt;br /&gt;&#xd;
域名：bc.benmu-health.com&#xd;
&lt;br /&gt;&#xd;
host： &#xd;
&lt;br /&gt;&#xd;
beta3   172.16.100.207&#xd;
&lt;br /&gt;&#xd;
beta2	172.16.100.160&#xd;
&lt;br /&gt;&#xd;
beta1	172.16.100.158&#xd;
&lt;br /&gt;&#xd;
dev		172.16.100.161</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>7</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>base_git_url</name>
          <description>git url</description>
          <defaultValue>http://git.benmu-health.org/fe/bc-benmu-health.git</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>branch_name</name>
          <description>分支</description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>SSH_PUBLISHERS</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>beta3</string>
              <string>beta2</string>
              <string>beta1</string>
              <string>dev</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>${base_git_url}</url>
        <credentialsId>c7a74331-bde1-4b97-b298-51686095172e</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/${branch_name}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /root/.jenkins/jobs/${JOB_NAME}/workspace 
rm -rf *.tar.gz
tar -zcvf ${JOB_NAME}.tar.gz ./* ./.bowerrc --exclude=target
echo &quot;pack finished&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin plugin="publish-over-ssh@1.12">
      <consolePrefix>SSH: </consolePrefix>
      <delegate>
        <publishers>
          <jenkins.plugins.publish__over__ssh.BapSshPublisher>
            <configName>测试3</configName>
            <verbose>false</verbose>
            <transfers>
              <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <remoteDirectory>/export/bc/${JOB_NAME}</remoteDirectory>
                <sourceFiles>**/*.tar.gz</sourceFiles>
                <excludes></excludes>
                <removePrefix></removePrefix>
                <remoteDirectorySDF>false</remoteDirectorySDF>
                <flatten>false</flatten>
                <cleanRemote>false</cleanRemote>
                <noDefaultExcludes>false</noDefaultExcludes>
                <makeEmptyDirs>false</makeEmptyDirs>
                <patternSeparator>[, ]+</patternSeparator>
                <execCommand>rm -rf  /export/bc/${JOB_NAME}/*
mv /root/export/bc/${JOB_NAME}/*.tar.gz /export/bc/${JOB_NAME}/
cd  /export/bc/${JOB_NAME}/
tar -zxvf ${JOB_NAME}.tar.gz
rm -rf *.tar.gz
npm install
pm2 restart all</execCommand>
                <execTimeout>120000</execTimeout>
                <usePty>false</usePty>
              </jenkins.plugins.publish__over__ssh.BapSshTransfer>
            </transfers>
            <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
            <usePromotionTimestamp>false</usePromotionTimestamp>
            <label class="jenkins.plugins.publish_over_ssh.BapSshPublisherLabel">
              <label>beta3</label>
            </label>
          </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          <jenkins.plugins.publish__over__ssh.BapSshPublisher>
            <configName>测试2</configName>
            <verbose>false</verbose>
            <transfers>
              <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <remoteDirectory>/export/bc/${JOB_NAME}</remoteDirectory>
                <sourceFiles>**/*.tar.gz</sourceFiles>
                <excludes></excludes>
                <removePrefix></removePrefix>
                <remoteDirectorySDF>false</remoteDirectorySDF>
                <flatten>false</flatten>
                <cleanRemote>false</cleanRemote>
                <noDefaultExcludes>false</noDefaultExcludes>
                <makeEmptyDirs>false</makeEmptyDirs>
                <patternSeparator>[, ]+</patternSeparator>
                <execCommand>rm -rf  /export/bc/${JOB_NAME}/*
mv /root/export/bc/${JOB_NAME}/*.tar.gz /export/bc/${JOB_NAME}/
cd  /export/bc/${JOB_NAME}/
tar -zxvf ${JOB_NAME}.tar.gz
rm -rf *.tar.gz
npm install
pm2 restart all</execCommand>
                <execTimeout>120000</execTimeout>
                <usePty>false</usePty>
              </jenkins.plugins.publish__over__ssh.BapSshTransfer>
            </transfers>
            <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
            <usePromotionTimestamp>false</usePromotionTimestamp>
            <label class="jenkins.plugins.publish_over_ssh.BapSshPublisherLabel">
              <label>beta2</label>
            </label>
          </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          <jenkins.plugins.publish__over__ssh.BapSshPublisher>
            <configName>rpc_beta</configName>
            <verbose>false</verbose>
            <transfers>
              <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <remoteDirectory>/export/bc/${JOB_NAME}</remoteDirectory>
                <sourceFiles>**/*.tar.gz</sourceFiles>
                <excludes></excludes>
                <removePrefix></removePrefix>
                <remoteDirectorySDF>false</remoteDirectorySDF>
                <flatten>false</flatten>
                <cleanRemote>false</cleanRemote>
                <noDefaultExcludes>false</noDefaultExcludes>
                <makeEmptyDirs>false</makeEmptyDirs>
                <patternSeparator>[, ]+</patternSeparator>
                <execCommand>rm -rf  /export/bc/${JOB_NAME}/*
mv /root/export/bc/${JOB_NAME}/*.tar.gz /export/bc/${JOB_NAME}/
cd  /export/bc/${JOB_NAME}/
tar -zxvf ${JOB_NAME}.tar.gz
rm -rf *.tar.gz
npm install
bower --allow-root  install
pm2 restart all</execCommand>
                <execTimeout>120000</execTimeout>
                <usePty>false</usePty>
              </jenkins.plugins.publish__over__ssh.BapSshTransfer>
            </transfers>
            <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
            <usePromotionTimestamp>false</usePromotionTimestamp>
            <label class="jenkins.plugins.publish_over_ssh.BapSshPublisherLabel">
              <label>beta1</label>
            </label>
          </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          <jenkins.plugins.publish__over__ssh.BapSshPublisher>
            <configName>rpc_dev</configName>
            <verbose>false</verbose>
            <transfers>
              <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <remoteDirectory>/export/bc/${JOB_NAME}</remoteDirectory>
                <sourceFiles>**/*.tar.gz</sourceFiles>
                <excludes></excludes>
                <removePrefix></removePrefix>
                <remoteDirectorySDF>false</remoteDirectorySDF>
                <flatten>false</flatten>
                <cleanRemote>false</cleanRemote>
                <noDefaultExcludes>false</noDefaultExcludes>
                <makeEmptyDirs>false</makeEmptyDirs>
                <patternSeparator>[, ]+</patternSeparator>
                <execCommand>rm -rf  /export/bc/${JOB_NAME}/*
mv /root/export/bc/${JOB_NAME}/*.tar.gz /export/bc/${JOB_NAME}/
cd  /export/bc/${JOB_NAME}/
tar -zxvf ${JOB_NAME}.tar.gz
rm -rf *.tar.gz
npm install
bower --allow-root  install
pm2 restart all</execCommand>
                <execTimeout>120000</execTimeout>
                <usePty>false</usePty>
              </jenkins.plugins.publish__over__ssh.BapSshTransfer>
            </transfers>
            <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
            <usePromotionTimestamp>false</usePromotionTimestamp>
            <label class="jenkins.plugins.publish_over_ssh.BapSshPublisherLabel">
              <label>dev</label>
            </label>
          </jenkins.plugins.publish__over__ssh.BapSshPublisher>
        </publishers>
        <continueOnError>false</continueOnError>
        <failOnError>false</failOnError>
        <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
        <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        <paramPublish class="jenkins.plugins.publish_over_ssh.BapSshParamPublish">
          <parameterName>SSH_PUBLISHERS</parameterName>
        </paramPublish>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.builduser.BuildUser plugin="build-user-vars-plugin@1.4"/>
  </buildWrappers>
</project>